body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 3rem;
}
.section {
    flex: 1;
    text-align: center;
}
.section img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.text-section {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}
.titulo-extensões {
    padding-bottom: 1rem;
    margin-top: 2rem;
    color: #ec0444;
    font-weight: bolder;
}
.titulo-mentorias {
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 2rem;
    color: #243444;
    font-weight: bolder;
}
.info-mentorias {
    text-align: justify;
    word-spacing: 3px;
    font-size: 16.5px;
}
.section-reverse {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #243444; /* Fundo diferente */
    color: #ffffff; /* Cor do texto */
}
.section-reverse .texto {
    flex: 1;
    text-align: left;
}
.section-reverse .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.section-reverse img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.titulo-vista{
    text-align: center;
    word-spacing: 3px;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.info-visita{
    word-spacing: 3px;
    font-size: 16.5;
}

.section-1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.section-2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 1000px;
    padding-right: 10px;
    background-color:#ffffff ; /* Fundo diferente */
    color: #243444; /* Cor do texto */
}
.sequecia .text {
    flex: 1;
    text-align: left;
}
.sequecia .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.sequecia .img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.text {
    flex: 1;
    text-align: left;
}


.img-extenções {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    align-items: center;
}

.img-visita{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    align-items: center;
}

