body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.section {
    flex: 1;
    text-align: center;
}
.section img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.text-section {
    flex: 1;
    text-align: left;
}
.titulo-infraestrutura{
    padding-bottom: 1rem;
    margin-top: 2rem;
    color: #ec0444;
    font-weight: bolder;
}
.titulo-faculdade{
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 7rem;
    color: #243444;
    font-weight: bolder;
}
.info-faculdade {
    padding-left: 20px;
    text-align: justify;
    word-spacing: 3px;
    font-size: 16.5px;
}
.section-reverse {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #243444; /* Fundo diferente */
    color: #ffffff; /* Cor do texto */
}
.section-reverse .texto {
    flex: 1;
    text-align: left;
}
.section-reverse .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.section-reverse img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.titulo-salas{
    text-align: center;
    word-spacing: 3px;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

.info-salas{
    word-spacing: 3px;
    font-size: 16.5;
}
.seq {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.seq {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff; /* Fundo diferente */
    color: #243444; /* Cor do texto */
}
.seq .texto {
    flex: 1;
    text-align: left;
}
.seq .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.seq img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.titulo-infra{
    text-align: center;
    word-spacing: 3px;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-left: 900px;
    color: #243444;
}
.info-infraestrutura{
    word-spacing: 3px;
    font-size: 16.5;
    text-align: justify;
    margin-left: 900px;
    width: 850px;
    margin-top: 10px;
}
.text-infra {
    flex: 1;
    text-align: right;
}
.img-infraestrutura{
    max-width: 100%;
    height: auto;
    margin-top: -330px;
    border-radius: 15px;
    margin-right: 1300px;
}
.img-infra{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    align-items: center;
}
.section-lab {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.section-lab {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #243444; /* Fundo diferente */
    color: #ffffff; /* Cor do texto */
}
.section-lab .texto {
    flex: 1;
    text-align: left;
}
.section-lab .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.section-lab img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.titulo-lab{
    text-align: center;
    word-spacing: 3px;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-left: -200px;
    color: #ffffff;
}
.info-lab{
    word-spacing: 3px;
    font-size: 16.5;
    text-align: justify;
    margin-left: 100px;
    width: 850px;
    margin-top: 10px;
}
.texto-lab {
    flex: 1;
    text-align: right;
}
.titulo-biblioteca{
    text-align: center;
    word-spacing: 3px;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-left: 900px;
    color: #243444;
}
.info-biblioteca{
    word-spacing: 3px;
    font-size: 16.5;
    text-align: justify;
    margin-left: 900px;
    width: 850px;
    margin-top: 0px;
}
.section-biblioteca {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.section-biblioteca {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff; /* Fundo diferente */
    color: #243444; /* Cor do texto */
}
.section-biblioteca .texto {
    flex: 1;
    text-align: left;
}
.section-biblioteca .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.section-biblioteca img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.img-biblioteca{
    max-width: 100%;
    height: auto;
    margin-top: -320px;
    border-radius: 15px;
    margin-right: 0px;
}
.img-infra{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    align-items: center;
}

.img-salas{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}