body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.section {
    flex: 1;
    text-align: center;
}
.section img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
}
.text-section {
    flex: 1;
    text-align: left;
}
.titulo-metodologia{
    padding-bottom: 1rem;
    margin-top: 2rem;
    color: #ec0444;
    font-weight: bolder;
}
.titulo-metodologia-ativa {
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 10rem;
    color: #243444;
    font-weight: bolder;
}
.info-metodologia-ativa {
    padding-left: 20px;
    text-align: justify;
    word-spacing: 3px;
    font-size: 16.5px;
}
.section-reverse {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #243444; /* Fundo diferente */
    color: #ffffff; /* Cor do texto */
}
.section-reverse .texto {
    flex: 1;
    text-align: left;
}
.section-reverse .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.section-reverse img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.titulo-trabalho{
    text-align: center;
    word-spacing: 3px;
    padding-bottom: 1rem;
    margin-top: 2rem;
}
.info-trabalho{
    word-spacing: 3px;
    font-size: 16.5;
    text-align: justify;
}
.sequecia {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.sequecia {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff; /* Fundo diferente */
    color: #243444; /* Cor do texto */
}
.sequecia .texto {
    flex: 1;
    text-align: left;
}
.sequecia .titulo {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.sequecia img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.titulo-p-reais{
    text-align: center;
    word-spacing: 3px;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-left: 800px;
    color: #243444;
}
.info-p-reais{
    word-spacing: 3px;
    font-size: 16.5;
    text-align: justify;
    margin-left: 950px;
    width: 850px;
    margin-top: 10px;
}
.text {
    flex: 1;
    text-align: right;
}
.img-p-reais{
    max-width: 100%;
    height: auto;
    margin-top: -220px;
    border-radius: 15px;
    margin-right: 1100px;
}
.img-trabalho{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}